<%= turbo_frame_tag word do %>
  <div class="word__container">
    <div class="word">
    <span class="word__button"
          data-controller="checks"
          data-action="click->checks#check"
          data-url="<%= url_for(controller: 'words', action: 'destroy', id: @word.id) %>">
      <i class="fa fa-check"></i>
      </span>

      <div class="word_detail">
        <span class="word-name"><%= word.name %></span>
        <span class="word-sound"><%= word.sound %></span>
        <div class="word-explain"><%= word.explain %></div>
        <ul class="word-example">
          <% word.example.split("#").each do |emp| %>
            <li> <%= emp %> </li>
          <% end %>
        </ul>
      </div>
      <button
        class="toggle"
        data-controller="toggles"
        data-action="click->toggles#toggle"
      >
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
<% end %>
